In [1]:
import pandas as pd

In [47]:
#Cash

csv_file_path_cash=r'C:\Users\Admin\OneDrive - VENDIMAN PVT LTD\Amanda\DSR\vendekin\cash 4 feb.csv'
df_cash = pd.read_csv(csv_file_path_cash)
df_cash['PaymentStatus']= 'SUCCESS'
df_cash['Type'] = 'Cash'
cash = df_cash.loc[:, ('Qrcode','Date', 'ProductName', 'TotalPrice', 'Location', 'Quantity','PaymentStatus', 'Type')]
cash.rename(columns={'TotalPrice': 'Price'}, inplace=True)
cash.head()
#df_cash.head()

,Qrcode,Date,ProductName,Price,Location,Quantity,PaymentStatus,Type
0,28,04-02-2024 19:28,Haldiram Khatta Meetha (Rs20),20,PWC location Bangalore,1,SUCCESS,Cash
1,530873,04-02-2024 00:51,Fanta Can (Rs 40),40,Bangalore,1,SUCCESS,Cash
2,531128,04-02-2024 06:07,Nestle Kitkat (Rs30),30,"Barracuda Floor_ Ground,Campus_ Prestige blue...",1,SUCCESS,Cash
3,531128,04-02-2024 04:07,Rosty Tasty Multigrain (Rs 20),20,"Barracuda Floor_ Ground,Campus_ Prestige blue...",1,SUCCESS,Cash
4,530155,04-02-2024 17:50,Parle Hide & Seek Black Bourbon Vanilla (Rs 30),30,"Intel EMB,Bangalore",1,SUCCESS,Cash

In [48]:
#Cashless

csv_file_path_cashless =r'C:\Users\Admin\OneDrive - VENDIMAN PVT LTD\Amanda\DSR\vendekin\cashless 4 feb.csv'
df_cashless = pd.read_csv(csv_file_path_cashless)
df_cashless['Quantity'] = 1
df_cashless['PaymentStatus'] = 'SUCCESS'
df_cashless['Type'] = 'Cashless'
cashless = df_cashless.loc[:, ('Qrcode','Date', 'ProductName', 'Price', 'Location', 'Quantity','PaymentStatus', 'Type')]
cashless.head()

,Qrcode,Date,ProductName,Price,Location,Quantity,PaymentStatus,Type
0,531004,04-02-2024 07:45,Haldiram Mixture (Rs10),10,BillionBrians Garage Venture vaishnavi tech p...,1,SUCCESS,Cashless
1,530291,04-02-2024 05:04,PARLE MILK SHAKTI (Rs 10),10,"Infosys Sez, EC_59, Banglore",1,SUCCESS,Cashless
2,530598,04-02-2024 16:59,Parle Fab Bourbon (Rs 10),10,Intel SRR 2 / G floor/,1,SUCCESS,Cashless
3,531147,04-02-2024 19:27,Haldiram Moong Dal (Rs 10),10,SRS warehouse,1,SUCCESS,Cashless
4,530386,04-02-2024 15:38,Haldiram Tasty Peanuts (Rs 10),10,simplify work bangalore,1,SUCCESS,Cashless

In [49]:
#Refund

csv_file_path_refund =r'C:\Users\Admin\OneDrive - VENDIMAN PVT LTD\Amanda\DSR\vendekin\refund 4 feb.csv'
df_refund = pd.read_csv(csv_file_path_refund)
df_refund['Quantity'] = -1
df_refund['Type'] = 'Cashless'
df_refund['Actual_Type'] = 'Refund'
df_refund['Amount'] = -df_refund['Amount']
df_refund.rename(columns={'Amount': 'Price', 'RefundStatus': 'PaymentStatus' , 'RefundDate' : 'Date'}, inplace=True)
refund = df_refund.loc[:, ('Qrcode','Date', 'ProductName', 'Price', 'Location', 'Quantity','PaymentStatus', 'Type')]
refund.head()

,Qrcode,Date,ProductName,Price,Location,Quantity,PaymentStatus,Type
0,530611,04-02-2024 22:52,Nestle Munch Max (Rs 20),-20,1st Floor CafeteriaSheraton Hyderabad Hotel - ...,-1,SUCCESS,Cashless
1,530611,04-02-2024 22:56,Cadbury Fuse (Rs20),-20,1st Floor CafeteriaSheraton Hyderabad Hotel - ...,-1,SUCCESS,Cashless
2,530572,04-02-2024 23:59,Haldiram Moong Dal (Rs 10),-10,IIT hyderabad A block ground floor,-1,SUCCESS,Cashless
3,530367,04-02-2024 02:48,Haldiram Bhujia Sev (Rs10),-10,HCl H01 P2 Phoenix building,-1,SUCCESS,Cashless
4,530367,04-02-2024 08:06,Haldiram Bhujia Sev (Rs10),-10,HCl H01 P2 Phoenix building,-1,SUCCESS,Cashless

In [50]:
# Consolidating vendekin data - daily data

daily_data = pd.concat([cash,cashless,refund], ignore_index=True)
daily_data['DBSource'] = 'Vendiken'
daily_data.head()

,Qrcode,Date,ProductName,Price,Location,Quantity,PaymentStatus,Type,DBSource
0,28,04-02-2024 19:28,Haldiram Khatta Meetha (Rs20),20,PWC location Bangalore,1,SUCCESS,Cash,Vendiken
1,530873,04-02-2024 00:51,Fanta Can (Rs 40),40,Bangalore,1,SUCCESS,Cash,Vendiken
2,531128,04-02-2024 06:07,Nestle Kitkat (Rs30),30,"Barracuda Floor_ Ground,Campus_ Prestige blue...",1,SUCCESS,Cash,Vendiken
3,531128,04-02-2024 04:07,Rosty Tasty Multigrain (Rs 20),20,"Barracuda Floor_ Ground,Campus_ Prestige blue...",1,SUCCESS,Cash,Vendiken
4,530155,04-02-2024 17:50,Parle Hide & Seek Black Bourbon Vanilla (Rs 30),30,"Intel EMB,Bangalore",1,SUCCESS,Cash,Vendiken

In [51]:
# Vendekin data - daily unique QR codes

unique_QRcode = pd.DataFrame(daily_data['Qrcode'].unique())
unique_QRcode = unique_QRcode.rename(columns={0: 'Qrcode'})
unique_QRcode

unique_QRcode.to_excel('feb3_QR codes.xlsx')

In [52]:


# Vendekin data - DSR calculated table - vends calculations 

# cash vends cal
cash_transactions = daily_data[daily_data['Type'] == 'Cash']
cash_vends = cash_transactions.groupby(['Qrcode'])['Quantity'].sum().reset_index()
cash_vends_merged=pd.merge(unique_QRcode, cash_vends, on=['Qrcode'], how = 'outer')
cash_vends_merged.fillna(0, inplace = True)

# cashless vends cal

cashless_transactions = daily_data[daily_data['Type'] == 'Cashless']
cashless_vends = cashless_transactions.groupby(['Qrcode'])['Quantity'].sum().reset_index()
cashless_vends_merged=pd.merge(unique_QRcode, cashless_vends, on=['Qrcode'], how = 'outer')
cashless_vends_merged.fillna(0, inplace = True)

# # Total vends cal

total_vends = pd.merge(cash_vends_merged, cashless_vends_merged, on=['Qrcode'], how = 'outer' )
total_vends = total_vends.rename (columns = {'Quantity_x' : 'Cash Vends' , 'Quantity_y' : 'Cashless Vends' })
total_vends ['Total Vends'] = total_vends['Cash Vends'] + total_vends['Cashless Vends']

In [53]:
# Vendekin data - DSR calculated table - amount calculations 


# cash amount cal
cash_transactions = daily_data[daily_data['Type'] == 'Cash']
cash_amount = cash_transactions.groupby(['Qrcode'])['Price'].sum().reset_index()
cash_amount_merged=pd.merge(unique_QRcode, cash_amount, on=['Qrcode'], how = 'outer')
cash_amount_merged.fillna(0, inplace = True)
cash_amount_merged

# cashless amount cal
cashless_transactions = daily_data[daily_data['Type'] == 'Cashless']
cashless_amount = cashless_transactions.groupby(['Qrcode'])['Price'].sum().reset_index()
cashless_amount_merged=pd.merge(unique_QRcode, cashless_amount, on=['Qrcode'], how = 'outer')
cashless_amount_merged.fillna(0, inplace = True)
cashless_amount_merged

# # # Total amount cal

total_amount = pd.merge(cash_amount_merged, cashless_amount_merged, on=['Qrcode'], how = 'outer' )
total_amount = total_amount.rename (columns = {'Price_x' : 'Cash Amount' , 'Price_y' : 'Cashless Amount' })
total_amount ['Total amount'] = total_amount['Cash Amount'] + total_amount['Cashless Amount']


vendekin_data = pd.merge(total_vends,total_amount , on = 'Qrcode' , how = 'outer')

In [1]:
masterUID = pd.read_excel('UID QR master.xlsx')
vendekin = pd.merge(vendekin_data, masterUID, on ='Qrcode', how = 'inner')

vendekin = vendekin[['MachineUID', 'Cash Vends' , 'Cashless Vends' , 'Total Vends' , 'Cash Amount', 'Cashless Amount' , 'Total amount' ]]
vendekin['DB Source'] = 'Vendekin'

uvm = pd.read_excel('uvm23.xlsx')

uvm = uvm[uvm['Status'] == "SUCCESS"]
uvm = uvm[uvm['OperationLocationName'] != "Machine on lease"]
uvm['Type'] = uvm['PaymentMode'].apply(lambda x: 'Cash' if x == 'Cash' else 'Cashless')

unique_MachineUID = pd.DataFrame(uvm['MachineUID'].unique())
unique_MachineUID = unique_MachineUID.rename(columns={0: 'MachineUID'})

NameError: name 'pd' is not defined

In [44]:
# UVM data - DSR calculated table - vends calculations 

# uvm cash vends cal
uvm_cash_transactions = uvm[uvm['Type'] == 'Cash']
uvm_cash_vends = uvm_cash_transactions.groupby(['MachineUID'])['OrderId'].size().reset_index()
uvm_cash_vends_merged=pd.merge(unique_MachineUID, uvm_cash_vends, on=['MachineUID'], how = 'outer')
uvm_cash_vends_merged.fillna(0, inplace = True)


# # uvm cashless vends cal

uvm_cashless_transactions = uvm[uvm['Type'] == 'Cashless']
uvm_cashless_vends = uvm_cashless_transactions.groupby(['MachineUID'])['OrderId'].size().reset_index()
uvm_cashless_vends_merged=pd.merge(unique_MachineUID, uvm_cashless_vends, on=['MachineUID'], how = 'outer')
uvm_cashless_vends_merged.fillna(0, inplace = True)


# # # uvm Total vends cal

uvm_total_vends = pd.merge(uvm_cash_vends_merged, uvm_cashless_vends_merged, on=['MachineUID'], how = 'outer' )
uvm_total_vends = uvm_total_vends.rename (columns = {'OrderId_x' : 'Cash Vends' , 'OrderId_y' : 'Cashless Vends' })
uvm_total_vends ['Total Vends'] = uvm_total_vends['Cash Vends'] + uvm_total_vends['Cashless Vends']

uvm_total_vends.to_excel('uvm_vends.xlsx')

In [45]:
# UVM data - DSR calculated table - amount calculations 


# cash amount cal
uvm_cash_transactions = uvm[uvm['Type'] == 'Cash']
uvm_cash_amount = uvm_cash_transactions.groupby(['MachineUID'])['Amount'].sum().reset_index()
uvm_cash_amount_merged=pd.merge(unique_MachineUID, uvm_cash_amount, on=['MachineUID'], how = 'outer')
uvm_cash_amount_merged.fillna(0, inplace = True)


# # cashless amount cal
uvm_cashless_transactions = uvm[uvm['Type'] == 'Cashless']
uvm_cashless_amount = uvm_cashless_transactions.groupby(['MachineUID'])['Amount'].sum().reset_index()
uvm_cashless_amount_merged=pd.merge(unique_MachineUID, uvm_cashless_amount, on=['MachineUID'], how = 'outer')
uvm_cashless_amount_merged.fillna(0, inplace = True)


# # # # Total amount cal

uvm_total_amount = pd.merge(uvm_cash_amount_merged, uvm_cashless_amount_merged, on=['MachineUID'], how = 'outer' )
uvm_total_amount = uvm_total_amount.rename (columns = {'Amount_x' : 'Cash Amount' , 'Amount_y' : 'Cashless Amount' })
uvm_total_amount ['Total amount'] = uvm_total_amount['Cash Amount'] + uvm_total_amount['Cashless Amount']

# uvm_total_amount.to_excel('filename.xlsx')

In [56]:
uvm_TH_data = pd.merge(uvm_total_vends,uvm_total_amount , on=['MachineUID'], how = 'outer')
uvm_TH_data.to_excel('check.xlsx')
final = pd.merge(uvm_TH_data,tags, on=['MachineUID'], how = 'outer')


dsr_cal = pd.concat([vendekin , uvm_TH_data], axis=0, ignore_index=True )
dsr_uid=pd.DataFrame(dsr_cal['MachineUID'].unique())
dsr_uid = dsr_uid.rename (columns = {0 :'MachineUID'})


MM_details = pd.read_excel('details.xlsx')


finalDSR = pd.merge(dsr_uid, MM_details, on ='MachineUID', how = 'inner')
finalDSR2 = pd.merge ( finalDSR, dsr_cal , on = 'MachineUID', how = 'inner')
finalDSR2.to_excel('report_dsr.xlsx')